body {
    display: flex;
    margin: 0;
    padding: 0px;
    min-height: 100vh; 
    flex-direction: column;

}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 10px;
  padding: 20px;
}

.holding-box {
    display: flex;
    flex-wrap: wrap;
    height: auto;
    width: auto;
 /* flex: 1 0 auto; */
 flex-shrink: 0;
 position: relative;
 justify-content: center;

     
}

#reset-grid-btn {
text-align: center;
background-color: blue;
width: auto;
color: white;

}


#square-div {
box-sizing: border-box;
/*width: cacl(100% / 16);*/
border-color: black;
border-width: thin;
border-style: solid;
/* flex-basis: 100%; doesn't help */
/* flex: 1; doesn't help */
aspect-ratio: 1;
/* z-index: 1; */  /* for overlay */
position: relative;

}



.mini-square-div {
box-sizing: border-box;
aspect-ratio: 1;
background-color: blue;
transition: opacity 0.5s ease-out;
width: 5px;
height: 5px;
/* z-index: 1000; */
position: fixed;
pointer-events: none;

}

/*.mini-square-div:hover {
    transition: opacity 0.2s ease;
  transform: scale(1.04);
} */