body {
    display: flex;
    margin: 0;
    padding: 0px;
    min-height: 100vh; 
    flex-direction: column;

}

.holding-box {
    display: flex;
    flex-wrap: wrap;
    height: auto;
    width: auto;
 /* flex: 1 0 auto; */
 flex-shrink: 0;

     
}


#square-div {
box-sizing: border-box;
/*width: cacl(100% / 16);*/
border-color: black;
border-width: thin;
border-style: solid;
/* flex-basis: 100%; doesn't help */
/* flex: 1; doesn't help */
aspect-ratio: 1;
/* z-index: 1; */  /* for overlay */
position: relative;

}

/*
mini-square-div: transition the opacity over a duration of 2 seconds, with a 0.4 second delay. 
We also transition the changes to transform over 0.8 seconds, with no delay.
*/

#mini-square-div {
box-sizing: border-box;
aspect-ratio: 1;
background-color: grey;
transition: opacity 2s ease 0.4s, transform 0.8s ease;
transform: scale(1);
width: 5px;
height: 5px;
/*z-index: 1000; */
position: absolute;
pointer-events: none;

}

#mini-square-div:hover {
    transition: opacity 0.2s ease;
  transform: scale(1.04);
}